body {
  width: 100%;
  margin: auto;
  a {
    font-style: none;
    text-decoration: none;
    margin: 0;
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colour-locationBG;

  @include location-shadow;

  .fa-map-marker-alt {
    font-size: 1rem;
    margin-top: 15px;
    margin-right: 5px;
  }
  p {
    font-family: "Roboto-bold";
    font-size: 0.9rem;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #f6f6f6;
  h1,
  p,
  &__button {
    margin: auto;
  }
  h1 {
    max-width: 75%;
    font-family: "Roboto-black";
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    max-width: 75%;
    font-family: "Roboto-thin";
    text-align: center;
  }
  &__button {
    @include button($index-button-width);
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

h2 {
  font-family: "Roboto-black";
  margin-left: 20px;
}

.fonctionnement {
  margin: 50px 20x 50px 20px;
  .etapes {
    display: flex;
    flex-wrap: wrap;
    .step {
      @include step;
      margin: 10px;
    }
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
  .listeRestaurants {
    margin-top: 25px;
    .carte {
      margin: auto;
      @include carte;
    }
  }
}

.menu {
  &__pic {
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
  &__liste {
    position: relative;
    z-index: 1;
    background-color: white;
    margin-top: -60px;
    padding-top: 20px;
    border-radius: 40px;
    .nom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    h1 {
      margin: 10px 20px 20px 20px;
      font-family: "Shrikhand";
      font-size: 1.8rem;
    }
    i {
      font-size: 1.8rem;
      margin: auto;
      margin-right: 10%;
    }
    h2 {
      font-family: "roboto-thin";
      font-size: 1.2rem;
      margin-left: 10px;
      &:after {
        content: "";
        display: block;
        width: 40px;
        padding-top: 5px;
        border-bottom: 3px solid $colour-carte-bg;
      }
    }
  }
}

.liste {
  display: flex;
  flex-direction: column;
  align-items: center;

  .plat {
    @include plat;
    margin: 10px 0 10px 0;
    border-radius: 20px;
  }
}

.order {
  &__button {
    @include button($order-button-width);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .etapes {
    flex-direction: column;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .etapes {
    justify-content: center;
  }
  .restaurants {
    .listeRestaurants {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .carte {
        margin: auto 2%;
        margin-bottom: 20px;
      }
    }
  }
}
