body {
  width: 100%;
  border: black 1px solid;
  margin: auto;
  a {
    font-style: none;
    text-decoration: none;
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colour-locationBG;

  @include location-shadow;

  .fa-map-marker-alt {
    font-size: 1rem;
    margin-top: 15px;
    margin-right: 5px;
  }
  p {
    font-family: "Roboto-bold";
    font-size: 0.9rem;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #f6f6f6;
  h1 {
    max-width: 75%;
    margin: auto;
    font-family: "Roboto-black";
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    max-width: 75%;
    margin: auto;
    font-family: "Roboto-thin";
    text-align: center;
  }
  &__button {
    @include button($index-button-width);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

h2 {
  font-family: "Roboto-black";
  margin-left: 20px;
}

.fonctionnement {
  margin: 50px 20x 50px 20px;
  .etapes {
    display: flex;
    flex-wrap: wrap;
    .step {
      @include step;
      margin: 10px;
    }
  }
}

@media (max-width: 640px) {
  .etapes {
    flex-direction: column;
    align-content: center;
  }
}
