* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  a {
    font-style: none;
    text-decoration: none;
    margin: 0;
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.fa-spinner {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10rem;
  margin: 100px 0;
  color: $colour-primary;
  animation-name: spinner;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.searchBar__location,
.searchBar__fonctionnement,
.searchBar__presentation,
.restaurantContainer {
  animation-name: fadeInverted;
  animation-duration: 0.2s;
  animation-delay: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.searchBar__location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colour-locationBG;

  @include location-shadow;

  .fa-map-marker-alt {
    font-size: 1rem;
    margin-top: 15px;
    margin-right: 5px;
  }
  p {
    font-family: "Roboto-bold";
    font-size: 0.9rem;
  }
}

.searchBar__presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #f6f6f6;
  h1,
  p,
  &__button {
    margin: auto;
  }
  h1 {
    max-width: 75%;
    font-family: "Roboto-black";
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    max-width: 75%;
    font-family: "Roboto-thin";
    text-align: center;
  }
  &__button {
    @include button($index-button-width);
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

h2 {
  font-family: "Roboto-black";
  margin-left: 10%;
}

.searchBar__fonctionnement {
  margin: 50px 20x 50px 20px;
  .etapes {
    display: flex;
    flex-wrap: wrap;
    .step {
      @include step;
      margin: 10px;
    }
  }
}

.restaurantContainer {
  background-color: #f6f6f6;
}

.restaurants {
  padding-top: 40px;
  margin-top: 60px;
  padding-bottom: 60px;
  .listeRestaurants {
    margin-top: 25px;
    .carte {
      margin: auto;
      @include carte;
    }
  }
}
.menu {
  background-color: $colour-locationBG;
  padding-bottom: 30px;
  &__pic {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: auto;
    object-fit: contain;
    z-index: 0;
  }
  &__liste {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: auto;
    margin-top: -60px;
    padding-top: 20px;
    border-radius: 40px;
    max-width: 550px;
    padding-left: 10px;
    padding-bottom: 30px;

    .nom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    h1 {
      margin: 10px 20px 20px 20px;
      font-family: "Shrikhand";
      font-size: 1.8rem;
    }
    .nom i {
      font-size: 1.8rem;
      margin: auto;
      margin-right: 10%;

      &:hover {
        display: none;
        + .fas {
          display: inline;
          color: red;
        }
      }
    }
    .fas {
      display: none;
      transition: 200ms;
      color: white;
    }
    h2 {
      font-family: "roboto-thin";
      font-size: 1.2rem;
      margin-left: 0;

      &:after {
        content: "";
        display: block;
        width: 40px;
        padding-top: 5px;
        border-bottom: 3px solid $colour-carte-bg;
      }
    }
  }
  &__button {
    @include button($order-button-width);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.liste {
  display: flex;
  padding-right: 10px;
  flex-direction: column;
  .plat {
    @include plat;
    margin: 10px 0 10px 0;
    border-radius: 20px;
  }
}

.listeEntrees {
  @include loading-menu(0ms);
}

.listePlats {
  @include loading-menu(200ms);
}

.listeDesserts {
  @include loading-menu(400ms);
}

@media (max-width: 768px) {
  .etapes {
    flex-direction: column;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .etapes {
    justify-content: center;
  }
  .restaurants {
    .listeRestaurants {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .carte {
        margin: auto 2%;
        margin-bottom: 20px;
      }
    }
  }
}
