.headerContainer {
  width: 100%;
  margin: 20px 0px 10px 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo {
  width: 100%;
  margin: auto;
  grid-column-start: 2;
}

.fa-arrow-left {
  padding-left: 30px;
  font-size: 1.5em;
  line-height: 30px;
}
