@font-face {
  font-family: "Shrikhand";
  src: url("../../public/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../../public/fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../../public/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-black";
  src: url("../../public/fonts/Roboto/Roboto-Black.ttf");
}
@keyframes loading-menus {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    display: block;
    transform: rotate(360deg);
  }
  75% {
    color: #ff79da;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeInverted {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
}
body a {
  text-decoration: none;
  color: black;
  margin: 0;
}
body a:visited {
  color: inherit;
  text-decoration: none;
}

.fa-spinner {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10rem;
  margin: 100px 0;
  color: #9356dc;
  animation-name: spinner;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.searchBar__location,
.searchBar__fonctionnement,
.searchBar__presentation,
.restaurantContainer {
  animation-name: fadeInverted;
  animation-duration: 0.2s;
  animation-delay: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.searchBar__location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.37);
}
.searchBar__location .fa-map-marker-alt {
  font-size: 1rem;
  margin-top: 15px;
  margin-right: 5px;
}
.searchBar__location p {
  font-family: "Roboto-bold";
  font-size: 0.9rem;
}

.searchBar__presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #f6f6f6;
}
.searchBar__presentation h1,
.searchBar__presentation p, .searchBar__presentation__button {
  margin: auto;
}
.searchBar__presentation h1 {
  max-width: 75%;
  font-family: "Roboto-black";
  text-align: center;
  margin-bottom: 20px;
}
.searchBar__presentation p {
  max-width: 75%;
  font-family: "Roboto-thin";
  text-align: center;
}
.searchBar__presentation__button {
  height: 50px;
  width: 220px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  transition: all 0.2s;
  margin-top: 30px;
  margin-bottom: 50px;
}
.searchBar__presentation__button a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.searchBar__presentation__button p {
  font-family: "Roboto-Bold";
  color: white;
  font-size: 0.9rem;
  margin: auto;
}
.searchBar__presentation__button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px black;
}

h2 {
  font-family: "Roboto-black";
  margin-left: 10%;
}

.searchBar__fonctionnement {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1190px;
}
.searchBar__fonctionnement .etapes {
  display: flex;
  flex-wrap: wrap;
}
.searchBar__fonctionnement .etapes .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  transition: all 0.2s ease-in-out;
  margin: 10px;
}
.searchBar__fonctionnement .etapes .step__number {
  background-color: #9356dc;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.searchBar__fonctionnement .etapes .step__number p {
  margin: auto;
  color: white;
}
.searchBar__fonctionnement .etapes .step i {
  color: #7e7e7e;
  font-size: 1.3rem;
  margin: 0 20px 0 20px;
}
.searchBar__fonctionnement .etapes .step p {
  font-family: "Roboto-Bold";
}
.searchBar__fonctionnement .etapes .step:hover {
  background-color: #e4d5f6;
}

.restaurantContainer {
  background-color: #f6f6f6;
}

.restaurants {
  max-width: 1190px;
  margin: auto;
  padding-top: 40px;
  margin-top: 60px;
  padding-bottom: 60px;
}
.restaurants .listeRestaurants {
  margin-top: 25px;
}
.restaurants .listeRestaurants .carte {
  margin: auto;
  width: 90%;
  max-width: 350px;
  height: 250px;
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
}
.restaurants .listeRestaurants .carte__new {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 5px;
}
.restaurants .listeRestaurants .carte__new p {
  color: #139273;
  background-color: #99e2d0;
  width: 60px;
  font-size: 0.8rem;
  padding: 5px;
  font-family: "Roboto-Bold";
  border-radius: 2px;
  text-align: center;
}
.restaurants .listeRestaurants .carte__pic {
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
}
.restaurants .listeRestaurants .carte__infos {
  display: flex;
  justify-content: space-between;
}
.restaurants .listeRestaurants .carte h3,
.restaurants .listeRestaurants .carte p {
  margin: 5px 0 10px 10px;
  margin-left: 10px;
}
.restaurants .listeRestaurants .carte h3 {
  font-family: "Roboto-Black";
  margin-top: 10px;
}
.restaurants .listeRestaurants .carte__text {
  font-family: "Roboto-regular";
}
.restaurants .listeRestaurants .carte .heartContainer {
  position: absolute;
  right: 0;
  bottom: 30px;
}
.restaurants .listeRestaurants .carte .heartContainer i {
  font-size: 1.8rem;
}
.restaurants .listeRestaurants .carte .far {
  color: black;
  opacity: 1;
  transition: all 0.4s;
}
.restaurants .listeRestaurants .carte .fas {
  position: relative;
  right: 33px;
  opacity: 0;
  color: red;
  transition: all 0.4s;
}
.restaurants .listeRestaurants .carte .fas:hover {
  opacity: 1;
}

.menu {
  background-color: #eaeaea;
  padding-bottom: 30px;
}
.menu__pic {
  width: 100%;
  max-width: 1430px;
  max-height: 500px;
  display: block;
  margin: auto;
  object-fit: cover;
  z-index: 0;
}
.menu__liste {
  position: relative;
  z-index: 1;
  background-color: white;
  margin: auto;
  margin-top: -60px;
  padding-top: 20px;
  border-radius: 40px;
  max-width: 1440px;
  padding-left: 10px;
  padding-bottom: 30px;
}
.menu__liste .nom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__liste h1 {
  margin: auto;
  margin-left: 20px;
  margin-right: 0px;
  font-family: "Shrikhand";
  font-size: 1.8rem;
}
.menu__liste .heartContainer i {
  font-size: 1.8rem;
}
.menu__liste > .far {
  color: black;
  transition: all 0.4s;
}
.menu__liste > .far:hover {
  opacity: 0;
}
.menu__liste .fas {
  position: relative;
  right: 33px;
  opacity: 0;
  color: red;
  transition: all 0.4s;
}
.menu__liste .fas:hover {
  opacity: 1;
}
.menu__liste .fas:hover .far {
  opacity: 0;
}
.menu__liste h2 {
  font-family: "roboto-thin";
  font-size: 1.2rem;
  margin-left: 0;
}
.menu__liste h2:after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__button {
  height: 50px;
  width: 185px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  transition: all 0.2s;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.menu__button a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.menu__button p {
  font-family: "Roboto-Bold";
  color: white;
  font-size: 0.9rem;
  margin: auto;
}
.menu__button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 0px black;
}

.liste {
  display: flex;
  padding-right: 10px;
  flex-direction: column;
}
.liste .plat {
  height: 70px;
  min-width: 298px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.liste .plat__composition {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.liste .plat__nom {
  font-family: "roboto-bold";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.liste .plat__detail {
  font-family: "roboto-regular";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.liste .plat__nom, .liste .plat__detail {
  margin: 0;
}
.liste .plat__prix {
  font-family: "roboto-bold";
  text-align: right;
  align-self: flex-end;
  padding-right: 20px;
}
.liste .plat__check {
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.liste .plat i {
  color: white;
  overflow: hidden;
  display: block;
  width: 60px;
  margin: 0;
  position: relative;
  top: 25px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  opacity: 1;
  transform: rotate(180deg);
  transform-origin: center;
  transition: all 0.2s ease-in-out 0.2s;
}
.liste .plat:hover i {
  opacity: 1;
  width: 60px;
  display: block;
  transform: rotate(0deg);
}
.liste .plat:hover .plat__check {
  width: 60px;
  opacity: 1;
}

.listeEntrees {
  animation-name: loading-menus;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
}

.listePlats {
  animation-name: loading-menus;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
}

.listeDesserts {
  animation-name: loading-menus;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 600ms;
}

@media (max-width: 768px) {
  .etapes {
    flex-direction: column;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .etapes {
    justify-content: center;
  }

  .restaurants .listeRestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants .listeRestaurants .carte {
    margin: auto 2%;
    margin-bottom: 20px;
  }
}
@media (min-width: 1040px) {
  .liste {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .liste .plat {
    margin: 10px 20px 10px 20px;
    flex: 0.3;
  }
}
.headerContainer {
  width: 100%;
  margin: 20px 0px 10px 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo {
  width: 100%;
  margin: auto;
  grid-column-start: 2;
}

.fa-arrow-left {
  font-size: 1.5em;
  line-height: 30px;
  margin-left: 20px;
}

a {
  margin-left: 30px;
}

.footerContainer {
  background-color: #353535;
  width: 100%;
  padding: 30px 0 20px 0;
}

footer {
  width: 90%;
  margin: auto;
}
footer p,
footer li,
footer h4,
footer a,
footer i {
  color: white;
}
footer h4 {
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 10px;
}

.mentions__top {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.mentions p,
.mentions a {
  font-family: "Roboto-regular";
  margin: 0;
  margin-top: 10px;
}
.mentions .fa-hands-helping,
.mentions .fa-utensils {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .mentions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .mentions__top {
    display: grid;
    grid-template-columns: 30px 1fr;
  }
  .mentions__bottom {
    margin-left: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
