@font-face {
  font-family: "Shrikhand";
  src: url("../../public/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../../public/fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../../public/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-black";
  src: url("../../public/fonts/Roboto/Roboto-Black.ttf");
}
body {
  width: 100%;
  margin: auto;
}
body a {
  font-style: none;
  text-decoration: none;
  margin: 0;
}
body a:visited {
  color: inherit;
  text-decoration: none;
}

.location {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.37);
}
.location .fa-map-marker-alt {
  font-size: 1rem;
  margin-top: 15px;
  margin-right: 5px;
}
.location p {
  font-family: "Roboto-bold";
  font-size: 0.9rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #f6f6f6;
}
.presentation h1,
.presentation p, .presentation__button {
  margin: auto;
}
.presentation h1 {
  max-width: 75%;
  font-family: "Roboto-black";
  text-align: center;
  margin-bottom: 20px;
}
.presentation p {
  max-width: 75%;
  font-family: "Roboto-thin";
  text-align: center;
}
.presentation__button {
  height: 50px;
  width: 220px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  margin-top: 30px;
  margin-bottom: 50px;
}
.presentation__button a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.presentation__button p {
  font-family: "Roboto-Bold";
  color: white;
  font-size: 0.9rem;
  margin: auto;
}

h2 {
  font-family: "Roboto-black";
  margin-left: 20px;
}

.fonctionnement {
  margin: 50px 20x 50px 20px;
}
.fonctionnement .etapes {
  display: flex;
  flex-wrap: wrap;
}
.fonctionnement .etapes .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  padding-top: 10px;
  margin: 10px;
}
.fonctionnement .etapes .step__number {
  background-color: #9356dc;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.fonctionnement .etapes .step__number p {
  margin: auto;
  color: white;
}
.fonctionnement .etapes .step i {
  color: #7e7e7e;
  font-size: 1.3rem;
  margin: 0 20px 0 20px;
}
.fonctionnement .etapes .step p {
  font-family: "Roboto-Bold";
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.restaurants .listeRestaurants {
  margin-top: 25px;
}
.restaurants .listeRestaurants .carte {
  margin: auto;
  width: 90%;
  max-width: 350px;
  height: 250px;
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
}
.restaurants .listeRestaurants .carte__new {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 5px;
}
.restaurants .listeRestaurants .carte__new p {
  color: #139273;
  background-color: #99e2d0;
  width: 60px;
  font-size: 0.8rem;
  padding: 5px;
  font-family: "Roboto-Bold";
  border-radius: 2px;
  text-align: center;
}
.restaurants .listeRestaurants .carte__pic {
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
}
.restaurants .listeRestaurants .carte h3,
.restaurants .listeRestaurants .carte p {
  margin: 5px 0 10px 10px;
  margin-left: 10px;
}
.restaurants .listeRestaurants .carte h3 {
  font-family: "Roboto-Black";
  margin-top: 10px;
}
.restaurants .listeRestaurants .carte__text {
  font-family: "Roboto-regular";
}
.restaurants .listeRestaurants .carte i {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 30px;
}

.menu__pic {
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.menu__liste {
  position: relative;
  z-index: 1;
  background-color: white;
  margin-top: -60px;
  padding-top: 20px;
  border-radius: 40px;
}
.menu__liste .nom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__liste h1 {
  margin: 10px 20px 20px 20px;
  font-family: "Shrikhand";
  font-size: 1.8rem;
}
.menu__liste i {
  font-size: 1.8rem;
  margin: auto;
  margin-right: 10%;
}
.menu__liste h2 {
  font-family: "roboto-thin";
  font-size: 1.2rem;
  margin-left: 10px;
}
.menu__liste h2:after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 5px;
  border-bottom: 3px solid #99e2d0;
}

.liste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liste .plat {
  height: 70px;
  width: 90%;
  min-width: 298px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 10px;
  margin: 10px 0 10px 0;
  border-radius: 20px;
}
.liste .plat__nom {
  font-family: "roboto-bold";
  grid-column-start: span 2;
  margin: 15px 0 0 0;
}
.liste .plat__detail {
  font-family: "roboto-regular";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.liste .plat__detail, .liste .plat__prix {
  margin: 0 0 10px 0;
}
.liste .plat__prix {
  font-family: "roboto-bold";
  text-align: right;
  margin-right: 30%;
}

.order__button {
  height: 50px;
  width: 185px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.order__button a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.order__button p {
  font-family: "Roboto-Bold";
  color: white;
  font-size: 0.9rem;
  margin: auto;
}

@media (max-width: 768px) {
  .etapes {
    flex-direction: column;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .etapes {
    justify-content: center;
  }

  .restaurants .listeRestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants .listeRestaurants .carte {
    margin: auto 2%;
    margin-bottom: 20px;
  }
}
.headerContainer {
  width: 100%;
  margin: 20px 0px 10px 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo {
  width: 100%;
  margin: auto;
  grid-column-start: 2;
}

.fa-arrow-left {
  font-size: 1.5em;
  line-height: 30px;
}

a {
  margin-left: 30px;
}

.footerContainer {
  background-color: #353535;
  width: 100%;
  padding: 30px 0 20px 0;
}

footer {
  width: 90%;
  margin: auto;
}
footer p,
footer li,
footer h4,
footer a,
footer i {
  color: white;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 10px;
}

.mentions__top {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.mentions p,
.mentions a {
  font-family: "Roboto-regular";
  margin: 0;
  margin-top: 10px;
}
.mentions .fa-hands-helping,
.mentions .fa-utensils {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .mentions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .mentions__top {
    display: grid;
    grid-template-columns: 30px 1fr;
  }
  .mentions__bottom {
    margin-left: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
