@mixin plat {
  height: 70px;
  min-width: 298px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__composition {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
  }
  &__nom {
    font-family: "roboto-bold";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__detail {
    font-family: "roboto-regular";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__nom,
  &__detail {
    margin: 0;
  }
  &__prix {
    font-family: "roboto-bold";
    text-align: right;
    align-self: flex-end;
    flex: 1;
    padding-right: 20px;
  }
  i {
    display: block;
    font-size: 1.4rem;
    color: white;
    overflow: hidden;
    width: 0px;
    margin: 0;
    padding-top: 25px;
    text-align: center;
    background-color: $colour-carte-bg;
    border-radius: 0 20px 20px 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    i {
      opacity: 1;
      width: 60px;
      display: block;
    }
  }
}
