@mixin location-shadow {
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.37);
}

@mixin button-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
}

@mixin button($button-width) {
  height: 50px;
  width: $button-width;
  border-radius: 25px;
  background: linear-gradient($colour-secondary, $colour-primary);
  @include button-shadow;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  p {
    font-family: "Roboto-Bold";
    color: white;
    font-size: 0.9rem;
  }
}

@mixin step {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  width: 300px;
  border-radius: 25px;
  @include button-shadow;
  padding-top: 10px;
  &__number {
    background-color: $colour-primary;
    border-radius: 50px;
    height: 22px;
    width: 22px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    p {
      margin: auto;
      color: white;
    }
  }
  i {
    color: $colour-icon;
    font-size: 1.3rem;
    margin: 0 20px 0 20px;
  }
  p {
    font-family: "Roboto-Bold";
  }
}

@mixin carte {
  width: 90%;
  max-width: 500px;
  height: 250px;
  position: relative;
  border-radius: $carte-border;
  margin-bottom: 20px;
  @include button-shadow;
  &__new {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 5px;
    p {
      color: $colour-carte-new;
      background-color: $colour-carte-bg;
      width: 60px;
      font-size: 0.8rem;
      padding: 5px;
      font-family: "Roboto-Bold";
      border-radius: 2px;
      text-align: center;
    }
  }
  &__pic {
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 170px;
    border-radius: $carte-border $carte-border 0 0;
  }
  h3,
  p {
    margin: 5px 0 10px 10px;
    margin-left: 10px;
  }

  h3 {
    font-family: "Roboto-Black";
    margin-top: 10px;
  }
  &__text {
    font-family: "Roboto-regular";
  }
  i {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    bottom: 30px;
  }
}

@mixin plat {
  height: 70px;
  width: 90%;
  min-width: 298px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  padding-left: 10px;
  &__nom {
    font-family: "roboto-bold";
    grid-column-start: span 2;
    margin: 15px 0 0 0;
  }
  &__detail {
    font-family: "roboto-regular";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__detail,
  &__prix {
    margin: 0 0 10px 0;
  }
  &__prix {
    font-family: "roboto-bold";
    text-align: right;
    margin-right: 30%;
  }
}
