$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-locationBG: #eaeaea;
$colour-icon: #7e7e7e;
$colour-carte-new: #139273;
$colour-carte-bg: #99e2d0;

$carte-border: 15px;

$index-button-width: 220px;
$order-button-width: 185px;
